body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0;
}

.container {
    text-align: center;
}

.instruction, .hint, .back, .enter {
    color: lightblue;
}

input {
    border: 2px solid lightblue;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.enter, .back {
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.enter:hover, .back:hover {
    color: #70cfff;
}

.hidden {
    display: none;
}

.hidden-text {
    color: #0d0d0d;
    margin-top: 40px;
}
